
@media screen and (max-width: 570px) {
.navbar{
    padding: 20px 40px;
}
.nav-items{
    display: none;

}
.hamburger{
    display: block;
}
.banner-container{
    flex-direction: column;
    height: auto;
    padding: 0rem 3rem 0px;
}

.banner-items{
    margin-top: 20px;
}
.banner-title, .Miama-normal{
    font-size: 2.25rem;
    font-weight: 900;
}

.banner-img-con{
    height: 600px;
}
.img-steeker-2{
    right: 40px;
}
.red-ball{
    left: -2.1rem;
}

.habit-images{
    grid-template-columns: repeat(1, 1fr);
   

}
.habit-detail{
    padding: .625rem 1rem;
}  

.run-containar{
    flex-direction: column;
    gap: 1rem;
    margin: 0px 20px;
    
}


.bmi{
    padding: 2rem 2rem 1.25rem;
    margin-bottom: .25rem;
}

.bmi-containar{
    flex-direction: column;
    padding: 20px;
    
}
.bmi-chart{
    margin-left: 10px;

}

.clalc-your-bmi{
    margin-left: 10px;
}

.activity {
    width: 300px;
}

.fa-caret-down{
    left: -1.5rem;
}

.success-parent{
    flex-direction: column;
}
.success-description{
    padding: 5px .5rem;
}

.before-after{
    margin: 20px;
    width: 280px;
    height: 240px;
}

.meet-containar{
    padding: 10px;
}
  
.meet-description{
    padding: 1rem 1rem;
}

.meet-img-containar{
    grid-template-columns: repeat(1, 1fr);
    padding: 1rem 1rem;
    gap: 1rem;

}



.meet-img-box{
    width: 18.5rem;
    height: 15.375rem;
    
}


.fitness-containar{
   flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    
}
.fitness{
    max-width: 300px;
    margin:10px;
}



.footer{
    text-align: center;
    color: #ffffff;
    border-top: 1px solid #817f7f;
    padding: 1.25rem;
    margin: 0px 2rem;
}


}
