/* font setup */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-normal {
  font-family: "Inter", sans-serif;  
}

/* Miama font  */

@font-face {
    font-family: 'Miama';
    font-style: italic;
    font-weight: 400;
    src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Miama';
    font-style: italic;
    font-weight: 300;
    src: local('Miama'), url('https://fonts.cdnfonts.com/s/302/Miama.woff') format('woff');
}
.Miama-normal{
    font-family: 'Miama', sans-serif;
}

/* Universal Styles  */
                                          
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.body{
    max-width: 90%;
    margin: 0 auto;
}


/* shared styles */
.btn-primary {
    list-style: none;
    background-color: rgb(230, 83, 60);
    padding: .8rem 2.5rem;
    border-radius: 3rem;
    color: #ffffff;
    font-size: 1.13rem;
    font-weight: 600;
}


/* navbar styles start  */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #121212;
    color: #ffffff;
    padding: 3rem 6.25rem;
}

.nav-title{
    font-size: 2.25rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.nav-items{
    display: flex;
    border: 1px solid rgb(79, 79, 79);
    gap: 2rem;
    padding: 0px 4px 0px 0px;
    border-radius: 1rem;
    align-items: center;
}

.nav-item{
    list-style: none;
}

.nav-home{
    list-style: none;
    background-color: rgb(230, 83, 60);
    padding: .32rem 1.25rem;
    border-radius: 1rem;
}

.hamburger{
    display: none;
}


/* banner section start here */

.banner-container{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 1000%);
    color: #ffffff;
    padding: .5rem 6.25rem 0px;
    height: 600px;  
}

.banner-items{
    max-width: 31.25rem;
    padding: 12.25rem 1.25 0px;
    margin-top: 40px;  
}

.banner-title{
    font-weight: 800;
    font-size: 4rem;
}

.banner-description{
    padding: 10px 0px 20px;
}

.btn-secondary{
    list-style: none;
    background-color: #212121;
    color: #ffffff;
    font-size: 1.13rem;
    font-weight: 600;
    border: 1px solid #ffffff;
    padding: 1rem 3rem;
    border-radius: 3rem;
}

.banner-img-con{  
    position: relative;
}

.banner-image{
    position: relative;
    width: 100%;
    height: 100%;
}

.fa-play{
    position: absolute;
    top: 330px;
    left: -40px;
    z-index: 6;
}

.img-steeker-1{
    width: 8.44rem;
    background-color: rgba(0, 0, 0, 0.363);
    font-size: 13px;
    border-radius: 8px;
    padding: .63rem 5px;
    position: absolute;
    right: -2rem;
    top: 9.38rem;
    z-index: 1;
}

.img-steeker-2{
    width: 7.8rem;
    padding: .63rem .63rem .63rem 2rem;
    background-color:  rgba(0, 0, 0, 0.363);
    font-size: 13px;
    border-radius: 8px;
    position: absolute;
    bottom: 9.38rem;
    right: 3.13rem;
    z-index: 1;
    position: relative;
}

.five-h{
    font-size: 1.5rem;
    font-weight: 600;
}

.three-h{
    font-size: 1.1rem;
    font-weight: 600;
}

.red-ball{
    width: 1.25rem;
    height: 1.25rem;
    border-radius: 3.125rem;
    background-color: rgb(230, 83, 60);
    position: absolute;
    z-index: 2;
    bottom: 6.6rem;
    left: -2.81rem;  
}


/* habits section start here  */
.habits-containar{
    background-color: black;
    padding-top: 4rem;
}

.habits{
    text-align: center;
    color: #ffffff;
}

.habit-title{
    font-size: 3rem;
    font-weight: 800;
}

.habit-detail{
    padding: .625rem 16rem;
}

.habit-images{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 2rem;
    color: #ffffff;
    padding: 2.5rem;
}

.habit-image{
    border-radius: 5.625rem;
    margin-bottom: .625rem;  
}


/* run section start here  */

.run-containar{
    display: flex;
    justify-content: space-between;
    max-width: 65rem;
    margin: 0 auto;
    background-color: #222222;
    color: #ffffff;
    border-radius: 1.25rem;
    align-items: center;
    gap: 3.125rem;
}

.run-content{
    max-width: 400px;
    padding-left: 20px;
}
.run-title{
    font-size: 3rem;
    font-weight: 800;
    padding-top: 20px;
}

.run-description{
    padding: 10px 0px 20px;
}

.run-image{
    max-width: 31.25rem;
}

.run-image> img{
    width: 100%;
    padding: 1.25rem;
    border-radius: 3.125rem;
}


/* bmi section start here  */
.bmi{
    color: #ffffff;
    padding: 2rem 25rem 1.25rem 17rem;
    margin-bottom: .25rem;
}
.bmi-title{
    font-size: 3rem;
    font-weight: 800;
}

.bmi-containar{
    background-color: #222222;
    display: flex;
    color: #ffffff;
    gap: 3.125rem;
    padding: 1.25rem 5rem;
}

.bmi-chart{
    margin-left: 100px;
}

table{
    color: #ffffff;
    border-collapse: collapse;
    margin-top: 20px;
    max-width: 300px;  
}

td, th{
    border: 1px solid white;
    padding: 10px;
}

.clalc-your-bmi{
    max-width: 500px;
    margin-left: 300px;
}

.bmi-description {
    padding: 10px 150px 20px 0;
}

.input-items{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding-bottom: 10px;
    
}


input{
    background-color: #393939;
    border: 1px solid #ffffff;
    width: 195px;
    padding: 5px;
    border-radius: 5px;
    
}

.activity {
    width: 400px;
}

.fa-caret-down{
    position: relative;
    top: 5px;
    left: -2rem;
    color: #d3d0d0;
}


/* extention section start here */
.success{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    padding: 3rem 0px 3rem;
}

.success-title{
    font-size: 3rem;
    font-weight: 800;
}
.success-description{
    padding: 5px 9.38rem;
}
.success-parent{
    display: flex;
    align-items: center;
    border-radius: 40px;
    background-color: rgb(26, 26, 26);
}

.testimonial{
    border-radius: 20px;
    padding: 10px;
}

.before-after{
    margin: 20px;
    width: 500px;
    height: 300px;
    

}

.before-after> img{
    width: 100%;
    height: 100%;
    border-radius: 40px;
}


/* meet section start here  */
.meet-containar{
    margin: 0 auto;
    color: #ffffff;
    padding: 1.25rem 17.25rem 3.125rem;
}

.meet-title{
    font-size: 3rem;
    font-weight: 800;
}

.meet-title, .meet-description{
    text-align: center; 
}

.meet-description{
    padding: 1.25rem 5.5rem;
}

.meet-img-containar{
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1.5rem;
    background-color: rgb(26, 26, 26);
    padding: 2rem;
    border-radius: 2.25rem;
    margin: 0 auto;
}

.meet-img-box{
    width: 15.5rem;
    height: 12.375rem;
    border-radius: 2.5rem;
    position: relative;
}

.meet-img{
    width: 100%;
    height: 100%;
    border-radius: 2.5rem;
}

.name {
    position: absolute;
    left: 20px;
    bottom: 25px;
    z-index: 5;
}

.trainer{
    position: absolute;
    left: 20px;
    bottom: 8px;
    z-index: 4;
}

/* fitness section start here  */
.fitness-containar{
    background-color: rgb(26, 26, 26);
    display: flex;
    align-content: center;
    color: #ffffff;
    gap: 1rem;
    padding: 3.125rem 2rem ;
}


.fitness{
    max-width: 400px;
    margin:10px 100px;
}

.fitness-title{
    font-size: 4.375rem;
    font-weight: 800;
    color: rgb(230, 83, 60);
}

.get-title, .get-title-two {
    padding: 30px 0px 5px ;
}

.fitness-item{
    list-style: none;
    padding: 5px;
}

/* footer section start here  */

footer{
    background-color: rgb(26, 26, 26);
    padding-top: 1.25rem;
}

.footer{
    text-align: center;
    color: #ffffff;
    border-top: 1px solid #817f7f;
    padding: 1.25rem;
    margin: 0px 12.5rem;
}

/* all styles end  */